.h1eve1{
    font-size: 26px;
}
.art1{
    text-align: center;
    background-image:url('/whiteback.jpg') ;
    background-size: cover;
}
.headeve1{
    font-size: 31px;
}
.p1eve{
    font-size: 20px;
}
.h1eve2{
    font-size: 26px;
}
.art2{
    text-align: center;
    background-image:url('/whiteback.jpg') ;
    background-size: cover;
}
.headeve2{
    font-size: 31px;
}
.p2eve{
    font-size: 20px;
}